* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
}

body {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-image: url(./images/background.jpg);
	background-size: cover;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

/*////    HEADER   /////////////////////*/

header {
	width: 100%;
}

.header_inner {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

/*  logo  */

@font-face {
	font-family: canterbury;
	src: url(./Canterbury.ttf);
}

.logo {
	width: 70%;
	font-family: canterbury;
	font-size: 45pt;
	text-decoration: none;
	color: black;
}

.logo h1 {
	margin-top: 10px;
	margin-bottom: 0px;
}

/*  login public  */

.login {
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 5px;
}

/*  login private  */

.profile_info {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}

.profile_pic {
	height: 5em;
	width: 5em;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	margin-top: 5px;
	cursor: pointer;
	z-index: 2;
}

.dropdown_menu {
	text-align: right;
	padding-right: 10px;
	height: min-content;
	align-self: flex-end;
	margin-bottom: 18px;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(85px,0,0);
}

.profile_info:hover .dropdown_menu {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.dropdown_menu a {
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-family: "eurostile", "arial", sans-serif;
}

.show_dropdown {
	display: block;
}

/*////    NAV   /////////////////////*/

nav {
	width: 100%;
	height: 39px;
	display: flex;
	flex-wrap: wrap;
	background-color: black;
	align-items: center;
}

.nav_item {
	width: 16.6666%;
	height: inherit;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	color: #e9e5dc;
	background: black;
	border-bottom: thick solid black;
}

.nav_item h3 {
	margin: 3px;
}

#nav_icon {
	margin-top: 5px;
}

/*  current nav item  */

#Sports_nav_item_current {
	color: red;
	border-bottom: thick solid red;
}

#Weather_nav_item_current {
	color: orange;
	border-bottom: thick solid orange;
}

#Economy_nav_item_current {
	color: yellow;
	border-bottom: thick solid yellow;
}

#Politics_nav_item_current {
	color: #49f770;
	border-bottom: thick solid #49f770;
}

#Food_nav_item_current {
	color: #2daefd;
	border-bottom: thick solid #2daefd;
}

#Art_nav_item_current {
	color: #9b07a8;
	border-bottom: thick solid #9b07a8;
}

/*  hover nav item  */

#Sports_nav_item:hover {
	border-bottom: thick solid red;
}

#Weather_nav_item:hover {
	border-bottom: thick solid orange;
}

#Economy_nav_item:hover {
	border-bottom: thick solid yellow;
}

#Politics_nav_item:hover {
	border-bottom: thick solid #49f770;
}

#Food_nav_item:hover {
	border-bottom: thick solid #2daefd;
}

#Art_nav_item:hover {
	border-bottom: thick solid #9b07a8;
}

/*////    FLASH   /////////////////////*/

.flash {
	width: 100%;
	height: 20.25px;
	text-align: center;
	margin-top: 20px;
}

/*////    MAIN   /////////////////////*/

main {
	width: 100%;
	min-height: calc(100vh - 199.25px);
}

/*  author header  */

.author_header {
	display: flex;
	justify-content: center;
	align-content: center;
	padding-bottom: 15px;
	margin-top: 5px;
}

#author_header_image {
	height: 5em;
	width: 5em;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

#author_header_name {
	text-align: center;
	display: flex;
	align-items: center;
	padding-left: 10px;
	margin: 0px;
}

/*  content  */

.content {
	display: flex;
	flex-wrap: wrap;
}

#category_menu_content {
	padding-top: 20px;
}

/*  content cards  */

main article {
	height: 17em;
	width: calc(25% - 20px);
	margin-right: 10px;
	margin-left: 10px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	cursor: pointer;
}

#Sports_card {
	border-bottom: 8px solid red;
}

#Weather_card {
	border-bottom: 8px solid orange;
}

#Economy_card {
	border-bottom: 8px solid yellow;
}

#Politics_card {
	border-bottom: 8px solid #49f770;
}

#Food_card {
	border-bottom: 8px solid #2daefd;
}

#Art_card {
	border-bottom: 8px solid #9b07a8;
}


.article_overlay {
	width: 100%;
	height: 35%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 90%);
  	display: flex;
  	align-self: flex-end;
  	align-items: flex-end;
}

.article_title {
	width: 100%;
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
}

.article_title h3 {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #e9e5dc;
	margin: 5px;
	margin-bottom: 3px;
	width: inherit;
	font-family: "calisto mt", "times", serif;
}

.article_date {
	width: 100%;
	margin-left: 5px;
	font-size: 13px;
	color: #e9e5dc;
}

.article_author {
	width: 15%;
	font-size: 14px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 5px;
	margin-right: 5px;
}

.article_author img {
	height: 2.5em;
	width: 2.5em;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding: 0px;
	margin-right: 0px;
}

/*  full article  */

.full_article_main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#full_article_content {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 90%;
}

.full_article_metadata {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	margin-bottom: 25px;
	height: fit-content;
}

.full_article_title {
	width: 100%;
	font-size: 30pt;
	margin: 0px;
	margin-bottom: 10px;
	margin-top: 5px;
	height: min-content;
	font-family: "calisto mt", "times", serif;
	text-align: center;
}

.full_article_author {
	display: flex;
	align-items: center;
	text-decoration: none;
	justify-content: center;
	width: 25%;
	margin-right: 10px;
}

.full_article_userpic {
	height: 3em;
	width: 3em;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.full_article_username {
	margin-left: 5px;
	color: gray;
	text-align: left;
}

.full_article_date {
	align-self: center;
	width: 25%;
	color: gray;
	margin-left: 10px;
	font-size: 16px;
}

.full_article_data {
	width: 100%;
}

.full_article_figure {
	width: 50%;
	margin: 0px;
	float: right;
	margin-left: 20px;
	margin-bottom: 5px;
}

.full_article_picture {
	max-width: 100%;
}

.full_article_tagline {
	color: gray;
	text-align: center;
	font-size: 18px;
}

.full_article_text {
	width: 100%;
	margin: 0px;
	font-size: 18px;
}

.last_edited {
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
	height: fit-content;
	color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}

.last_edited p {
	margin: 0px;
}

/*////    FOOTER   /////////////////////*/

footer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	height: 30px;
	min-height: 28px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: black;
	align-items: center;
}

footer a {
	color: #e9e5dc;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
}

#main_footer a {
	width: 100%;
}

#category_footer a {
	width: 33%;
}

#article_footer a {
	width: 50%;
}

footer h4 {
	padding: 5px;
	margin: 0px;
}

.github_source {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.github_source a {
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
}

.github_source a i {
	margin-left: 5px;
	margin-right: 5px;
}

#json_icon {
	height: 19.1px;
	width: 18.2813px;
	margin-left: 5px;
	margin-right: 5px;
}

/*////    CREATE/EDIT/DELETE FORMS   /////////////////////*/

.form_body {
	height: 100vh;
	align-content: flex-start;
}

/*  title  */

.form_title {
	width: 100%;
	height: min-content;
	text-align: center;
	background-color: black;
	color: #e9e5dc;
}

/*  form  */

.input_form {
    margin:10px auto;
    max-width: 100%;
    padding-left: 0px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.input_form li {
    list-style: none;
    margin-top: 10px;
    width: 100%;
}

.input_form label {
    margin-bottom: 3px;
    display:block;
    font-weight: bold;
}

.input_form .field-textarea {
    height: 200px;
    width: 100%;
}

.input_form input[type=text], textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    width: 100%;
}

#short_input {
	width: 50%;
}

#delete_label {
	width: 100%;
}

/*  highlight inputs when selected  */

.input_form input[type=text]:focus, textarea:focus {
    -moz-box-shadow: 0 0 8px gray;
    -webkit-box-shadow: 0 0 8px gray;
    box-shadow: 0 0 8px gray;
    border: 1px solid gray;
}

/*  buttons  */

#button_inputs {
	display: flex;
	margin-top: 20px;
}

/*  submit button  */

.input_form input[type=submit], .input_form input[type=button]{
	width: 65px;
    background: black;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.input_form input[type=submit]:hover, .input_form input[type=button]:hover{
    background: #D50F25;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

/*  cancel button  */

.form_cancel {
	height: 29px;
	width: 65px;
	margin-left: 10px;
	background: black;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font: 11px BlinkMacSystemFont;
}

.form_cancel:hover {
	background: #D50F25;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

/*////    MEDIA QUERIES   /////////////////////*/

@media screen and (max-width: 1215px) {
	main {
		padding-left: 15px;
		padding-right: 15px;
	}
	.header_inner {
		padding-right: 15px;
		padding-left: 15px;
	}
	.input_form {
		margin-right: 15px;
		margin-left: 15px;
	}
}

@media screen and (max-width: 1070px) {
	main article {
		width: calc(50% - 20px);
	}
}

@media screen and (max-width: 686px) {
	body {
		margin-top: 0px;
	}
	.logo {
		font-size: 35pt;
		align-self: flex-end;
	}
	.logo h1 {
		margin-top: 5px;
	}
	.profile_pic {
		height: 3em;
		width: 3em;
		padding-top: 0px;
		align-self: flex-end;
		margin-bottom: 10px;
	}
	nav {
		height: 30px;
	}
	.nav_item {
		font-size: 15px;
	}
	.nav_item h3 {
		margin-top: 4px;
	}
	#short_input {
		width: 100%;
	}
	.dropdown_menu a {
		font-size: 12px;
	}
	.dropdown_menu {
		margin-bottom: 14px;
		line-height: 75%;
		padding-right: 7px;
	}
	.dropdown_menu {
		width: min-content;
		line-height: 50%;
		margin-bottom: 15px;
	}
	.dropdown_menu a {
		font-size: 10px;
	}
	main {
		min-height: calc(100vh - 158.25px);
	}
	#author_header_image {
		height: 3em;
		width: 3em;
	}
}

@media screen and (max-width: 625px) {
	.full_article_figure {
		width: 80%;
		margin-left: 0px;
		margin-bottom: 20px;
	}
	.full_article_data{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.full_article_title {
		font-size: 30px;
	}
}

@media screen and (max-width: 540px) {
	.logo {
		font-size: 25pt;
	}
	.profile_pic {
		height: 2.1em;
		width: 2.1em;
		margin-bottom: 8px;
	}
	.dropdown_menu {
		margin-bottom: 7px;
	}
	main {
		min-height: calc(100vh - 140.25px);
	}
}

@media screen and (max-width: 475px) {
	body {
		margin-bottom: 4px;
	}
	.logo h1 {
		padding-right: 10px;
	}
	main article {
		width: 100%;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
	main {
		padding-left: 0px;
		padding-right: 0px;
	}
	#category_menu_content {
		padding-top: 0px;
	}
	#full_article_content {
		width: 100%;
	}
	.full_article_text {
		width: 93%;
	}
	.full_article_figure {
		width: 100%;
	}
	.full_article_tagline {
		margin-left: 5px;
		margin-right: 5px;
	}
	.full_article_title {
		font-size: 22px;
		margin-right: 5px;
		margin-left: 5px;
	}
	.full_article_metadata {
		font-size: 12px;
		margin-bottom: 5px;
	}
	.full_article_date {
		font-size: 12px;
	}
	.flash {
		margin-top: 5px;
		font-size: 14px;
	}
	#button_inputs {
		width: fit-content;
		margin-right: auto;
		margin-left: auto;
	}
	#delete_label {
		text-align: center;
	}
	.header_inner {
		padding-right: 5px;
		padding-left: 5px;
	}
	footer {
		margin-top: 0px;
		margin-bottom: 4px;
	}
	footer a {
		font-size: 13px;
	}
	#article_footer {
		margin-top: 20px;
	}
	main {
		min-height: calc(100vh - 105.25px);
	}
	.author_header {
		padding-bottom: 5px;
	}
	#author_header_image {
		height: 2.5em;
		width: 2.5em;
	}
	#author_header_name {
		font-size: 20px;
	}
	.nav_item {
		font-size: 8px;
	}
	.nav_item h3 {
		margin-top: 1px;
		margin-bottom: 3px;
	}
	#json_icon {
		height: 17.15px;
		width: 13.8px;
		margin-left: 20px;
		margin-right: 20px;
	}
	#github_icon {
		margin-left: 20px;
		margin-right: 20px;
	}
	#feed_icon {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media screen and (max-width: 388px) {
	main {
		min-height: calc(100vh - 98.8438px);
	}
	.logo {
		font-size: 20pt;
	}
	.profile_pic {
		margin-bottom: 5px;
	}
	.dropdown_menu {
		margin-bottom: 5px;
	}
}

@media screen and (min-device-width: 769px) {
	main article .article_overlay,
	main article time,
	.article_author {
		transition: opacity 0.35s, transform 0.35s;
	}

	main article h3 {
		transform: translate3d(0,18px,0);
		transition: transform 0.35s;
	}

	main article time,
	.article_author {
		opacity: 0;
		transform: translate3d(0,10px,0);
	}

	main article:hover .article_overlay,
	main article:hover time,
	main article:hover .article_author,
	main article:hover h3 {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}