* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-image: url(./images/background.jpg);
	background-size: cover;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

/*////    HEADER   /////////////////////*/

header {
	width: 100%;
	height: 12%;
	min-height: 12vh;
}

.header_inner {
	width: 100%;
	height: inherit;
	display: flex;
	flex-wrap: wrap;
}

/*  logo  */

@font-face {
	font-family: canterbury;
	src: url(./Canterbury.ttf);
}

.logo {
	width: 70%;
	font-family: canterbury;
	font-size: 45pt;
	text-decoration: none;
	color: black;
}

.logo h1 {
	margin-top: 10px;
	margin-bottom: 0px;
}

/*  login public  */

.login {
	width: 30%;
	padding-top: 45px;
	display: flex;
	justify-content: flex-end;
}

/*  login private  */

.profile_info {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}

.profile_pic {
	height: 5em;
	width: 5em;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	margin-top: 5px;
}

.dropdown_menu {
	text-align: right;
	padding-top: 12px;
	padding-right: 10px;
	display: none;
}

.dropdown_menu a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.show_dropdown {
	display: block;
}

/*////    NAV   /////////////////////*/

nav {
	width: 100%;
	height: 39px;
	display: flex;
	flex-wrap: wrap;
	background-color: black;
	align-items: center;
}

.nav_item {
	width: 16.6666%;
	height: inherit;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	color: #e9e5dc;
	background: black;
	border-bottom: thick solid black;
}

.nav_item h3 {
	margin: 3px;
}

/*  current nav item  */

#Sports_nav_item_current {
	color: red;
	border-bottom: thick solid red;
}

#Weather_nav_item_current {
	color: orange;
	border-bottom: thick solid orange;
}

#Economy_nav_item_current {
	color: yellow;
	border-bottom: thick solid yellow;
}

#Politics_nav_item_current {
	color: #49f770;
	border-bottom: thick solid #49f770;
}

#Food_nav_item_current {
	color: #2daefd;
	border-bottom: thick solid #2daefd;
}

#Art_nav_item_current {
	color: #9b07a8;
	border-bottom: thick solid #9b07a8;
}

/*  hover nav item  */

#Sports_nav_item:hover {
	border-bottom: thick solid red;
}

#Weather_nav_item:hover {
	border-bottom: thick solid orange;
}

#Economy_nav_item:hover {
	border-bottom: thick solid yellow;
}

#Politics_nav_item:hover {
	border-bottom: thick solid #49f770;
}

#Food_nav_item:hover {
	border-bottom: thick solid #2daefd;
}

#Art_nav_item:hover {
	border-bottom: thick solid #9b07a8;
}

/*////    FLASH   /////////////////////*/

.flash {
	width: 100%;
	height: 5vh;
	text-align: center;
	padding-top: 20px;
}

/*////    MAIN   /////////////////////*/

main {
	width: 100%;
	height: 78%;
	min-height: 78vh;
}

/*  author header  */

.author_header {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

#author_header_image {
	height: 5em;
	width: 5em;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

#author_header_name {
	text-align: center;
	padding-bottom: 20px;
	padding-left: 10px;
}

/*  content  */

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#category_menu_content {
	padding-top: 20px;
}

/*  content cards  */

main article {
	height: 17em;
	width: 23%;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
	background-size: cover;
	background-position: center;
}

#Sports_card {
	border-bottom: 8px solid red;
}

#Weather_card {
	border-bottom: 8px solid orange;
}

#Economy_card {
	border-bottom: 8px solid yellow;
}

#Politics_card {
	border-bottom: 8px solid #49f770;
}

#Food_card {
	border-bottom: 8px solid #2daefd;
}

#Art_card {
	border-bottom: 8px solid #9b07a8;
}


.article_overlay {
	width: 100%;
	height: fit-content;
	margin-bottom: 5px;
	background-color: #000;
  	background-color: rgba(0, 0, 0, 0.7);
  	display: flex;
  	align-self: flex-end;
}

.article_title {
	width: 100%;
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
}

.article_title h3 {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #e9e5dc;
	margin: 5px;
	width: inherit;
}

.article_date {
	width: 100%;
	margin-left: 5px;
	font-size: 14px;
	color: #e9e5dc;
	width: 100%;
}

.article_author {
	width: 15%;
	font-size: 14px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 5px;
	margin-right: 5px;
}

.article_author img {
	height: 2.5em;
	width: 2.5em;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding: 0px;
	margin-right: 0px;
}



#authormenu_article_date {
	width: 100%;
}

/*  full article  */

.full_article_main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#full_article_content {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 90%;
}

.full_article_metadata {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	margin-bottom: 25px;
	height: fit-content;
}

.full_article_title {
	width: 100%;
	font-size: 30pt;
	margin: 0px;
	margin-bottom: 10px;
	height: min-content;
}

.full_article_author {
	display: flex;
	align-items: center;
	text-decoration: none;
	justify-content: center;
	width: 25%;
}

.full_article_userpic {
	height: 3em;
	width: 3em;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.full_article_username {
	margin-left: 5px;
	color: gray;
}

.full_article_date {
	align-self: center;
	width: 25%;
	color: gray;
}

.full_article_data {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.full_article_figure {
	width: 50%;
	margin: 0px;
}

.full_article_picture {
	max-width: 100%;
}

.full_article_tagline {
	color: gray;
	text-align: center;
}

.full_article_text {
	width: 50%;
	padding-right: 20px;
	margin: 0px;
	font-size: 18px;
}

/*////    FOOTER   /////////////////////*/

footer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

footer a {
	color: #e9e5dc;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
}

#main_footer a {
	width: 100%;
}

#category_footer a {
	width: 33%;
}

#article_footer a {
	width: 50%;
}

footer h4 {
	background-color: black;
	padding: 5px;
}

/*////    MEDIA QUERIES   /////////////////////*/

@media screen and (max-width: 1215px) {
	main {
		padding-left: 15px;
		padding-right: 15px;
	}

	.header_inner {
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media screen and (max-width: 1070px) {
	main article {
		width: 48%;
	}
}

@media screen and (max-width: 686px) {
	.logo {
		font-size: 35pt;
		align-self: flex-end;
	}

	.profile_pic {
		height: 3em;
		width: 3em;
		padding-top: 0px;
		align-self: flex-end;
		margin-bottom: 10px;
	}

	.nav_item {
		font-size: 15px;
	}

	.nav_item h3 {
		margin-top: 8px;
	}
}

@media screen and (max-width: 540px) {
	.logo {
		font-size: 25pt;
	}
}

@media screen and (max-width: 475px) {
	main article {
		width: 100%;
		margin-bottom: 0px;
	}

	main {
		padding-left: 0px;
		padding-right: 0px;
	}
}