<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>The Chronicle</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="{{url_for('static', filename='github_source.js')}}"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body>
		<header>
			<section class="header_inner">
				<a href="{{url_for('showCategories')}}" class="logo"><h1>The Chronicle</h1></a>
				<div class="profile_info">
					<div class="dropdown_menu">
						<a href="{{url_for('showAuthor', author_id = profile_id)}}">Author Menu</a><br><br>
						<a href="{{url_for('gdisconnect')}}">Logout</a>
					</div>
					<img src="{{profile_pic}}" class="profile_pic">
					<script type="text/javascript">
						$(".profile_pic").on("click", function() {
							console.log("profile pic was clicked");
							$(".dropdown_menu").toggleClass('show_dropdown');
						});
					</script>
				</div>
			</section>
		</header>
		<nav>
			{% for c in categories: %}
				{% if c.id == category.id %}
					<a href="{{url_for('showCatalog', category_id = c.id)}}" class="nav_item" id="{{c.name}}_nav_item_current"><h3>{{c.name}}</h3></a>
				{% else %}
					<a href="{{url_for('showCatalog', category_id = c.id)}}" class="nav_item" id="{{c.name}}_nav_item"><h3>{{c.name}}</h3></a>
					{% endif %}
				{% endfor %}
		</nav>
		<div class = 'flash'>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<strong> {{ message }} </strong>
						{% endfor %}
					{% endif %}
				{% endwith %}
		</div>
		<main class="full_article_main">
			<div class = "content" id="full_article_content">
				<h2 class="full_article_title">{{article.title}}</h2>
				<div class="full_article_metadata">
					<a href="{{url_for('showAuthor', author_id = article.user_id)}}" class="full_article_author">
						<img src="{{article.user.picture}}" class="full_article_userpic">
						<h7 class="full_article_username">{{article.author}}</h7>
					</a>
					<time datetime="{{article.date}}" class="full_article_date" id="article_date"></time>
				</div>
				<div class="full_article_data">
					<figure class="full_article_figure">
						<img src="{{article.picture}}" class="full_article_picture">
						<figcaption class="full_article_tagline">{{article.tagline}}</figcaption>
					</figure>
					<p class="full_article_text">{{article.text}}</p>
				</div>
				<script>
					var datestring = $("#article_date").attr("datetime");
					datestring = datestring.slice(0, 19);
					datestring = datestring.replace(" ", "T");
					$("#article_date").attr("datetime", datestring);
					var d = new Date(datestring);
					d = d.toString();
					d = d.slice(4, 10) + "," + d.slice(10,15) + " (" + d.slice(16,21) + "&nbsp;" + d.slice(35);
					$("#article_date").append(d);
				</script>
			</div>
		</main>
		<footer id="article_footer">
			<a href="{{url_for('editArticle', category_id = category.id, article_id = article.id)}}"><h4>Edit Article</h4></a>
			<a href="{{url_for('deleteArticle', category_id = category.id, article_id = article.id)}}"><h4>Delete Article</h4></a>
		</footer>
		<section class="github_source">
			<a href="https://github.com/wilding/Catalog"><i class="fa fa-git-square fa-lg" id="github_icon"></i></a>
		</section>
	</body>
</html>