<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>The Chronicle</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="{{url_for('static', filename='helper.js')}}"></script>
	</head>
	<body>
		<header>
			<section class="header_inner">
				<a href="{{url_for('showCategories')}}" class="logo"><h1>The Chronicle</h1></a>
				<div class="profile_info">
					<div class="dropdown_menu">
						<a href="{{url_for('showAuthor', author_id = profile_id)}}">Author Menu</a><br><br>
						<a href="{{url_for('gdisconnect')}}">Logout</a>
					</div>
					<img src="{{profile_pic}}" class="profile_pic">
				</div>
			</section>
		</header>
		<nav>
			{% for c in categories: %}
				{% if c.id == category.id %}
					<a href="{{url_for('showCatalog', category_id = c.id)}}" class="nav_item" id="{{c.name}}_nav_item_current">
						<i id="nav_icon"></i>
						<h3>{{c.name}}</h3>
					</a>
				{% else %}
					<a href="{{url_for('showCatalog', category_id = c.id)}}" class="nav_item" id="{{c.name}}_nav_item">
						<i id="nav_icon"></i>
						<h3>{{c.name}}</h3>
					</a>
					{% endif %}
				{% endfor %}
		</nav>
		<div class = 'flash'>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<strong> {{ message }} </strong>
						{% endfor %}
					{% endif %}
				{% endwith %}
		</div>
		<main class="full_article_main">
			<div class = "content" id="full_article_content">
				<h2 class="full_article_title">{{article.title}}</h2>
				<div class="full_article_metadata">
					<a href="{{url_for('showAuthor', author_id = article.user_id)}}" class="full_article_author">
						<img src="{{article.user.picture}}" class="full_article_userpic">
						<h7 class="full_article_username">{{article.user.name}}</h7>
					</a>
					<time datetime="{{article.date}}" class="full_article_date"></time>
				</div>
				<div class="full_article_data">
					<figure class="full_article_figure">
						<img src="{{article.picture}}" class="full_article_picture">
						<figcaption class="full_article_tagline">{{article.tagline}}</figcaption>
					</figure>
					<p class="full_article_text">{{article.text}}</p>
				</div>
				<div class ="last_edited">
					<p>last edited:&nbsp;</p>
					<time datetime="{{article.last_edited}}" class="full_article_last_edited">{{article.last_edited}}</time>
				</div>
			</div>
			<div class="comments">
				<div class="comment_header">
					<i class="fa fa-angle-right" id="comment_indicator">&nbsp;</i><h6>Comments</h6>
				</div>
				<div class="comment_content">
					<form action="{{url_for('showArticle', category_id = category.id, article_id = article.id)}}" method='post'>
						<ul class="input_form" id="new_comment">
							<li>
								<label id="new_comment_label">New Comment:</label>
								<textarea name='text' class="field-textarea" id="new_comment_textarea"></textarea>
							</li>
							<li id="new_comment_button_inputs">
								<input type='submit' value='Submit'>
								<a href="{{url_for('showArticle', category_id = category.id, article_id = article.id)}}" class="form_cancel">Cancel</a>
							</li>
						</ul>
					</form>
					{% for comment in comments: %}
						<div class="comment" id="comment_{{loop.index0}}">
							<div class="comment_metadata">
								<a href="{{url_for('showAuthor', author_id = article.user_id)}}">
									<img src="{{comment.user.picture}}" class="comment_author">
								</a>
							</div>
							<div class="comment_data">
								<p class="comment_text">{{comment.text}}</p>
								<div class="comment_date_info">
									<div>
										<i>Created:&nbsp;</i><time class="comment_date" datetime="{{comment.date}}" id="comment_date_{{loop.index}}">{{comment.date}}</time>
									</div>
									<div>
										<i>Edited:&nbsp;</i><time class="comment_last_edited" datetime="{{comment.last_edited}}" id="comment_last_edited_{{loop.index}}">{{comment.last_edited}}</time>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
				</div>
			</div>
		</main>
		<footer id="article_footer">
			<a href="{{url_for('editArticle', category_id = category.id, article_id = article.id)}}"><h4>Edit Article</h4></a>
			<a href="{{url_for('deleteArticle', category_id = category.id, article_id = article.id)}}"><h4>Delete Article</h4></a>
		</footer>
		<section class="github_source">
			<a href="{{ url_for('articleJSON', category_id = category.id, article_id = article.id) }}"><img src="{{url_for('static', filename='images/json.svg')}}" id="json_icon"></a>
			<a href="https://github.com/wilding/Catalog"><i class="fa fa-git-square fa-lg" id="github_icon"></i></a>
		</section>
	</body>
</html>