{% extends 'formlayout.html' %}

{% block form_title %}Delete {{category.name}}{% endblock %}

{% block form %}
	<form action="{{url_for('deleteCategory', category_id = category.id)}}" method='post'>
		<ul class="input_form">
			<label id="delete_label">Are you sure you want to delete {{category.name}}?</label>
			<li id='button_inputs'>
				<input type='submit' value='Delete'>
				<a href="{{url_for('showCatalog', category_id = category.id)}}" class="form_cancel">Cancel</a>
			</li>
		</ul>
	</form>
{% endblock %}
