<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'bootstrap.min.css')}}">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<a href="{{url_for('showCategories')}}"><h1>The Chronical</h1></a>
				</div>
				<div class="col-md-6">
					<a href="{{url_for('showLogin')}}"><h6>Login</h6></a>
				</div>
			</div>
				<div class="row">
					<div class="col-md-12">
						{% for category in categories: %}
							<a href="{{url_for('showCatalog', category_id = category.id)}}"><h3>{{category.name}}</h3></a>
							{% endfor %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{% with messages = get_flashed_messages() %}
						{% if messages %}
							<ul>{% for message in messages %}
								<li> <strong> {{ message }} </strong> </li>
								{% endfor %}</ul>
							{% endif %}
						{% endwith %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<a href="{{url_for('newCategory')}}"><h4>New Category</h4></a>
				</div>
			</div>
		</div>
	</body>
</html>