<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>The Chronicle</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'bootstrap.min.css')}}">
		<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=zocial">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	</head>
	<body>
		<header>
			<section class="header_inner">
				<a href="{{url_for('showCategories')}}" class="logo"><h1>The Chronicle</h1></a>
				<a href="{{url_for('showLogin')}}" class="login"><button class="zocial-google">Login</button></a>
			</section>
		</header>
		<nav>
			{% for c in categories: %}
				{% if c.id == category.id %}
					<a href="{{url_for('showCatalog', category_id = c.id)}}" class="nav_item" id="current_nav_item"><h3>{{c.name}}</h3></a>
				{% else %}
					<a href="{{url_for('showCatalog', category_id = c.id)}}" class="nav_item" id="{{c.name}}_nav_item"><h3>{{c.name}}</h3></a>
					{% endif %}
				{% endfor %}
		</nav>
		<div class = 'flash'>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<strong> {{ message }} </strong>
						{% endfor %}
					{% endif %}
				{% endwith %}
		</div>
		<main>
			<div class = "content" id="category_menu_content">
			{% for article in articles: %}
				<article>
					<a href="{{url_for('showArticle', category_id = category.id, article_id = article.id)}}"><h5>{{article.title}}</h5></a>
					<span><p>{{article.tagline}}</p></span>
					<a href="{{url_for('showAuthor', author_id = article.user_id)}}"><h7>{{article.author}}</h7></a>
					<br><br><time datetime="{{article.date}}" id="article_date"></time>
				</article>
				<script>
					var datestring = $("#article_date").attr("datetime");
					datestring = datestring.slice(0, 19);
					datestring = datestring.replace(" ", "T");
					$("#article_date").attr("datetime", datestring);
					var d = new Date(datestring);
					d = d.toString();
					d = d.slice(0, 24) + " " + d.slice(34);
					$("#article_date").append(d);
				</script>
				{% endfor %}
			</div>
		</main>
		<footer id="category_footer">
		</footer>
	</body>
</html>