<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>The Chronicle</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
		<script src="{{url_for('static', filename='g_signin.js')}}" data-state="{{STATE}}" data-route="/category/{{article.category.id}}/catalog/{{article.id}}/" id="g_signin_script"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body>
		<header>
			<section class="header_inner">
				<a href="{{url_for('showCategories')}}" class="logo"><h1>The Chronicle</h1></a>
				<div class="login" id="signinButton">
					<span class="g-signin"
						data-scope="openid email"
						data-clientid="578890011813-qd932u6n0bint1hnqgosn8e2qjrg1ahb.apps.googleusercontent.com"
						data-redirecturi="postmessage"
						data-accesstype="offline"
						data-cookiepolicy="single_host_origin"
						data-callback="signInCallback"
						data-approvalprompt="force">
					</span>
				</div>
			</section>
		</header>
		<nav>
			{% for c in categories: %}
				{% if c.id == category.id %}
					<a href="{{url_for('showCatalog', category_id = c.id)}}" class="nav_item" id="{{c.name}}_nav_item_current"><h3>{{c.name}}</h3></a>
				{% else %}
					<a href="{{url_for('showCatalog', category_id = c.id)}}" class="nav_item" id="{{c.name}}_nav_item"><h3>{{c.name}}</h3></a>
					{% endif %}
				{% endfor %}
		</nav>
		<div class = 'flash'>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<strong> {{ message }} </strong>
						{% endfor %}
					{% endif %}
				{% endwith %}
		</div>
		<main class="full_article_main">
			<div class = "content" id="full_article_content">
				<h2 class="full_article_title">{{article.title}}</h2>
				<div class="full_article_metadata">
					<a href="{{url_for('showAuthor', author_id = article.user_id)}}" class="full_article_author">
						<img src="{{article.user.picture}}" class="full_article_userpic">
						<h7 class="full_article_username">{{article.author}}</h7>
					</a>
					<time datetime="{{article.date}}" class="full_article_date" id="article_date"></time>
				</div>
				<div class="full_article_data">
					<figure class="full_article_figure">
						<img src="{{article.picture}}" class="full_article_picture">
						<figcaption class="full_article_tagline">{{article.tagline}}</figcaption>
					</figure>
					<p class="full_article_text">{{article.text}}</p>
				</div>
				<script>
					var datestring = $("#article_date").attr("datetime");
					datestring = datestring.slice(0, 19);
					datestring = datestring.replace(" ", "T");
					$("#article_date").attr("datetime", datestring);
					var d = new Date(datestring);
					d = d.toString();
					d = d.slice(4, 10) + "," + d.slice(10,15) + " (" + d.slice(16,21) + "&nbsp;" + d.slice(35);
					$("#article_date").append(d);
				</script>
			</div>
		</main>
		<footer>
		</footer>
		<section class="github_source">
			<a href="https://github.com/wilding/Catalog"><i class="fa fa-git-square fa-lg"></i></a>
			<script>
				var source = $('.github_source').children('a').children('i');
				var w = $(window);
				var d = $(document);
				d.ready(function() {
					if (w.width() <= 475) {
						source.removeClass('fa-lg');
					}
				})
				w.resize(function() {
					if (w.width() <= 475) {
						source.removeClass('fa-lg');
					}
					if (w.width() > 475) {
						source.addClass('fa-lg');
					}
				})
			</script>
		</section>
	</body>
</html>