<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>The Chronicle</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'bootstrap.min.css')}}">
		<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=zocial">
	</head>
	<body>
		<header>
			<section class="header_inner">
				<a href="{{url_for('showCategories')}}" class="logo"><h1>The Chronicle</h1></a>
				<a href="{{url_for('showLogin')}}" class="login"><button class="zocial-google">Login</button></a>
			</section>
		</header>
		<nav>
			{% for category in categories: %}
				<a href="{{url_for('showCatalog', category_id = category.id)}}" class="nav_item" id="{{category.name}}_nav_item"><h3>{{category.name}}</h3></a>
				{% endfor %}
		</nav>
		<main>
			<div class = 'flash'>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>{% for message in messages %}
						<li> <strong> {{ message }} </strong> </li>
						{% endfor %}</ul>
					{% endif %}
				{% endwith %}
			</div>
		</main>
		<footer>
		</footer>
	</body>
</html>