<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>The Chronicle</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'bootstrap.min.css')}}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
	</head>
	<body>
		<header>
			<section class="header_inner">
				<a href="{{url_for('showCategories')}}" class="logo"><h1>The Chronicle</h1></a>
				<div class="login" id="signinButton">
					<span class="g-signin"
						data-scope="openid email"
						data-clientid="578890011813-qd932u6n0bint1hnqgosn8e2qjrg1ahb.apps.googleusercontent.com"
						data-redirecturi="postmessage"
						data-accesstype="offline"
						data-cookiepolicy="single_host_origin"
						data-callback="signInCallback"
						data-approvalprompt="force">
					</span>
				</div>
				<!-- handle response that google api server sends to client
						successful response
						one time code to authorize server
						access token client can use to make api calls in browser -->
				<script>
					function signInCallback(authResult) {
						if (authResult['code']) {
							// Hide the sign in button now that the user is authorized
							$('#signinButton').attr('style', 'display: none');
							// Send the one-time-use code to the server.  If the server responds, write a 'login successful' message to the webpage and then redirect back to the main restaurants page
							$.ajax({
								type: 'POST',
								url: '/gconnect/?state={{STATE}}',
								processData: false,
								contentType: 'application/octet-stream; charset=utf-8',
								data: authResult['code'],
								success: function(result) {
									if (result) {
										$('.flash').append(result);
										setTimeout(function() {
											window.location.href = "/category/{{category.id}}/";
										}, 4000);
								} else if (authResult['error']) {
									console.log('There was an error: ' + authResult['error']);
								}
								}
							});
						}
						else {
							$('.flash').append('<strong>Failed to make a server-side call.  Check your configuration and console.</strong>');
						}
					}
				</script>
			</section>
		</header>
		<nav>
			{% for c in categories: %}
				{% if c.id == category.id %}
					<a href="{{url_for('showCatalog', category_id = c.id)}}" class="nav_item" id="{{c.name}}_nav_item_current"><h3>{{c.name}}</h3></a>
				{% else %}
					<a href="{{url_for('showCatalog', category_id = c.id)}}" class="nav_item" id="{{c.name}}_nav_item"><h3>{{c.name}}</h3></a>
					{% endif %}
				{% endfor %}
		</nav>
		<div class = 'flash'>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<strong> {{ message }} </strong>
						{% endfor %}
					{% endif %}
				{% endwith %}
		</div>
		<main>
			<div class = "content" id="category_menu_content">
			{% for article in articles: %}
				<article style="background-image: url({{article.picture}});">
					<a href="{{url_for('showArticle', category_id = article.category_id, article_id = article.id)}}" class="article_title">{{article.title}}</a>
					<div class="article_tagline"><p>{{article.tagline}}</p></div>
					<a href="{{url_for('showAuthor', author_id = article.user_id)}}" class="article_author"><img src="{{article.user.picture}}" class="article_author"></a>
					<time datetime="{{article.date}}" class="article_date"></time>
					<script>
						var datestring = $(".article_date").attr("datetime");
						datestring = datestring.slice(0, 19);
						datestring = datestring.replace(" ", "T");
						$(".article_date").attr("datetime", datestring);
						var d = new Date(datestring);
						d = d.toString();
						d = d.slice(0, 24) + " " + d.slice(34);
						$(".article_date").text(d);
					</script>
				</article>
				{% endfor %}
			</div>
		</main>
		<footer id="category_footer">
		</footer>
	</body>
</html>